*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  background: url(../images/bg-mobile.png);
}

/* Colors

### Primary

- Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%)

### Neutral

- Pale Blue: hsl(243, 100%, 93%)
- Grayish Blue: hsl(229, 7%, 55%)
- Dark Blue: hsl(228, 56%, 26%)
- Very Dark Blue: hsl(229, 57%, 11%)

*/

.container {
  height: 97vh;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fylo-box {
  display: flex;
  flex-flow: column;
  gap: 1em;
}

.fylo-logo {
  max-width: 65%;
}

.fylo-option-flex {
  display: flex;
  align-items: center;
  gap: 1em;
}

.fylo-option {
  min-width: 1.6em;
}

.bg-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: hsl(229, 57%, 11%);
  border-radius: 0.9em;
}

.fylo-option-box {
  display: flex;
  flex-flow: column;
  gap: 3em;
  min-width: 20rem;
  background: hsl(228, 56%, 26%);
  border-radius: 0.6em;
  border-top-right-radius: 6em;
  padding: 3em;
}

.fylo-feedback-box {
  background: hsl(228, 56%, 26%);
  border-radius: 0.6em;
  padding: 3em;
  color: white;
}
