*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  background-image: url(../images/bg-mobile.png);
  background-position: center;
  background-size: cover;
}

/* Colors

### Primary

- Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%)

### Neutral

- Pale Blue: hsl(243, 100%, 93%)
- Grayish Blue: hsl(229, 7%, 55%)
- Dark Blue: hsl(228, 56%, 26%)
- Very Dark Blue: hsl(229, 57%, 11%)

*/

.container {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

span {
  font-weight: 700;
  color: hsl(243, 100%, 93%);
}

.fylo-box {
  display: flex;
  flex-flow: column;
  gap: 1em;
}

.fylo-logo {
  max-width: 65%;
}

.fylo-option-flex {
  display: flex;
  align-items: center;
  min-width: 15em;
  gap: 1em;
}

.fylo-option {
  min-width: 1.6em;
}

.bg-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: hsl(229, 57%, 11%);
  border-radius: 0.9em;
}

.fylo-option-box {
  display: flex;
  flex-flow: column;
  gap: 3em;
  min-width: 20rem;
  background: hsl(228, 56%, 26%);
  border-radius: 0.6em;
  border-top-right-radius: 7em;
  padding: 3em;
  flex: 1;
}

.fylo-feedback-box {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: hsl(228, 56%, 26%);
  border-radius: 0.6em;
  padding: 3em;
  padding-bottom: 5.5em;
  color: white;
}

.fylo-text {
  font-size: 1em;
  text-align: center;
}

.empty-bar {
  display: flex;
  position: relative;
  min-height: 1.4em;
  width: 18em;
  border-radius: 0.8em;
  padding: 0.3em;
  background: hsl(229, 56%, 18%);
}

.empty-bar::before {
  position: absolute;
  top: 2em;
  content: "0 GB";
}

.empty-bar::after {
  position: absolute;
  right: 0;
  top: 2em;
  content: "1000 GB";
}

.empty-bar::before,
.empty-bar::after {
  font-weight: 600;
}

.full-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 1em;
  border-color: transparent;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  flex-basis: 12em;
  padding: 0.2em;
}

.circle-thumb {
  width: 0.8em;
  height: 0.8em;
  background-color: white;
  border-radius: 50%;
}

.gb-left {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.5em;
  bottom: -2.8em;
  padding: 0.8em 1.7em 0.8em;
  background: white;
  border-radius: 1em;
}

.gb-left span:nth-child(1) {
  color: black;
  font-size: 3em;
  font-weight: 700;
}

.gb-left span:nth-child(2) {
  color: hsl(229, 7%, 55%);
  font-weight: 700;
  font-size: 0.85em;
}

@media (min-width: 800px) {
  body {
    background: hsl(229, 57%, 11%);
    background-image: url(../images/bg-desktop.png);
    background-position-y: 450px;
    background-size: 100% 55%;
    background-repeat: no-repeat;
  }

  .fylo-box {
    display: grid;
    grid-template-columns: 25rem 45rem;
    gap: 4rem;
  }

  .fylo-logo {
    max-width: 12rem;
  }

  .fylo-feedback-box {
    align-self: flex-end;
    flex-grow: 1;
  }
}

@media (max-width: 1200px) and (min-width: 801px) {
  .fylo-box {
    display: grid;
    grid-template-columns: 20rem 35rem;
    gap: 4rem;
  }
}

@media (max-width: 950px) and (min-width: 800px) {
  .fylo-box {
    display: grid;
    grid-template-columns: 20rem 27rem;
    gap: 4rem;
  }
}
